@font-face {
  font-family: 'JetBrians Mono';
  src: url("../jetbrains_mono/JetBrainsMono-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white; }
  h1 {
    color: #003c8f;
    font-size: 100px; } }

* {
  font-family: "JetBrians Mono"; }

body {
  padding: 1em; }

h1 {
  color: #1565c0; }
