@font-face {
    font-family: 'JetBrains Mono';
    font-weight: normal;
    font-style: normal;

    src: url('jbmono/JetBrainsMono-Regular.ttf');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: bold;
    font-style: normal;

    src: url('jbmono/JetBrainsMono-Bold.ttf');
}
