@import "content/default/default.scss";
@import "content/buttons/social/social.scss";
@import "content/card/card.scss";
@import "content/table/table.scss";
@import "content/content.scss";
@import "menu/menu.scss";
@import "font.scss";

body {
    background: #1C1C1C;
    color: #fff;

    padding: 0;
    margin: 0;
}

* {
    font-family: 'JetBrians Mono', monospace;
    line-height: 1.56;
    word-wrap: break-word;
}
