@font-face
    font-family: 'JetBrians Mono';
    src: url('../jetbrains_mono/JetBrainsMono-Regular.ttf')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'JetBrians Mono';
    src: url('../jetbrains_mono/JetBrainsMono-Bold.ttf')
    font-weight: bold
    font-style: normal

@media (prefers-color-scheme: dark)
    body
        background: black
        color: white
    h1
        color: #9f0000
    a
        color: #003c8f

*
    font-family: "JetBrians Mono"

body
    padding: .5em

p
    font-size: 1em

h1, h2, h3, h4, h5, h6
    a
        text-decoration: none

a
    color: #1565c0

h1
    color: #d84315
    font-size: 3em
    margin: 0
