// Light colors

$red:    #d50000
$green:  #64dd17
$blue:   #2196f3
$gray:   #9e9e9e
$yellow: #ffc107
$violet: #d500f9

// Dark colors

$red-dark:    #9b0000
$green-dark:  #1faa00
$blue-dark:   #0069c0
$gray-dark:   #707070
$yellow-dark: #c79100
$violet-dark: #9e00c5

$shiza: darken($red, 15%)

// classes-dark

@media (prefers-color-scheme: dark)
    .green
        color: $green-dark

    .red
        color: $red-dark

    .blue
        color: $blue-dark

    .gray
        color: $gray-dark

// classes-light

.green
    color: $green

.red
    color: $red

.blue
    color: $blue

.gray
    color: $gray
