@media (prefers-color-scheme: dark)
    body
        background: black
        color: white

    a
        color: $blue

    h1
        color: $red-dark

    ul.projects li
        .wrapper
            background: #17181C !important

        .wrapper:hover
            background: #3A3A3C !important

    ul.site-links li
        a
            background: #17181C !important
            color: white

        a:hover
            background: #3A3A3C !important        

    ul.site-links li
        a.twitter
            color: $dark-twitter !important

        a.telegram
            color: $dark-telegram !important

        a.github
            color: $dark-github !important
