// (min-width: 1px)

@media (prefers-color-scheme: dark)
    body
        background: black
        color: white

    a
        color: $blue

    h1
        color: $red-dark

    .wiki-image
        background: #000

    ul.projects li
        a
            background: #17181C !important
            
        span.type, span.date
            color: rgba(255, 255, 255, 0.5)

        .content
            h3, p
                color: #fff !important

        a:hover
            background: #17181C !important
            box-shadow: 0 0 20px #444
            transition: box-shadow .3s .1s

    ul.site-links li
        a
            background: #17181C !important
            color: white !important

        a:hover
            background: #3A3A3C !important        

    ul.site-links li
        a.twitter
            background: $dark-twitter !important

        a.telegram
            background: $dark-telegram !important

        a.github
            background: $dark-github !important

    table.github
        *
            // border: 1px solid #404040 !important
            border: 1px solid #3A3A3C !important

        tr:nth-child(even)
            // background: #222222 !important
            background: #17181C !important

    .ftp table
        background: #17181C
        color: #FFF

    h1.wiki
        background: #1F1F1F
        color: #FFF

    .header.telegram
        background: $dark-twitter

    .head.telegram
        background: #00689e
