// (min-width: 1px)

@media (prefers-color-scheme: dark)
    body
        background: black
        color: white

    a
        color: $blue

    h1
        color: $red-dark

    .wiki-image
        background: #000

    ul.projects li
        a
            background: #17181C !important

        a:hover
            background: #3A3A3C !important

    ul.site-links li
        a
            background: #17181C !important
            color: white !important

        a:hover
            background: #3A3A3C !important        

    ul.site-links li
        a.twitter
            background: $dark-twitter !important

        a.telegram
            background: $dark-telegram !important

        a.github
            background: $dark-github !important

    table
        *
            // border: 1px solid #404040 !important
            border: 1px solid #3A3A3C !important

        tr:nth-child(even)
            // background: #222222 !important
            background: #17181C !important
