@font-face {
    font-family: 'JetBrains Mono';
    font-weight: normal;
    font-style: normal;

    src: url('/jetbrains_mono/JetBrainsMono-Regular.ttf');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: bold;
    font-style: normal;

    src: url('/jetbrains_mono/JetBrainsMono-Bold.ttf');
}
