big, dl, p, pre, small, sup, table {
  font-size: 15.6px; }

h2, h3, h4, h5, h6 {
  padding-top: .5em; }

h1 {
  font-size: 33.8px; }

h2 {
  font-size: 26px; }

a {
  font-size: 15.6px;
  text-decoration: none;
  color: #157EFB; }

.contact__links {
  list-style: none;
  padding: 0; }
  .contact__links .link__emoji, .contact__links .link__text, .contact__links li {
    display: inline-block; }
  .contact__links li {
    margin-top: 10px; }
    .contact__links li a {
      border-radius: 4px;
      font-weight: 500;
      color: white; }
      .contact__links li a .link__emoji, .contact__links li a .link__text {
        padding: 5px 10px 5px 10px; }
      .contact__links li a .link__emoji {
        border-radius: 4px 0 0 4px;
        background: #111111; }
      .contact__links li a .link__text {
        border-radius: 0 4px 4px 0;
        background: #28292d; }

.cards {
  list-style: none;
  padding: 0; }
  .cards li {
    padding-right: 20px;
    display: inline;
    width: auto;
    height: auto; }
    .cards li:hover a {
      transition: box-shadow .3s .1s;
      box-shadow: 0 0 30px #000; }
    .cards li > a {
      border: 1px solid #404040;
      border-radius: 4px;
      background: #222222;
      transition: box-shadow .3s .1s; }
    .cards li a {
      font-weight: 500;
      line-height: 1.3;
      color: #fff;
      position: relative;
      display: inline-block;
      width: 45%;
      max-width: 450px;
      margin-bottom: 20px;
      border-radius: 4px; }
      .cards li a img {
        width: 100%;
        border-radius: 4px 4px 0 0; }
      .cards li a .card__content {
        padding: 20px; }
      .cards li a span.date, .cards li a span.type {
        color: rgba(255, 255, 255, 0.5); }
      .cards li a span.date {
        float: right;
        text-align: right; }
      .cards li a h3 {
        font-size: 23.4px; }
      .cards li a p, .cards li a h3 {
        margin: 0;
        padding: 0; }

.content table {
  border-spacing: 0;
  border-collapse: collapse; }
  .content table tr td {
    border-radius: 10px;
    border: 1px solid #404040;
    padding: 10px 15px; }
  .content table tr:nth-child(even) {
    background: #222222; }

.content {
  width: 75%;
  margin: 0 auto; }
  .content h1.error {
    color: #c00; }
  .content .center {
    text-align: center; }

nav {
  background: #161616; }
  nav ul {
    width: 75%;
    list-style: none;
    padding: 0;
    padding-top: 25px;
    margin: 0 auto; }
    nav ul li, nav ul a {
      display: inline-block; }
    nav ul li a {
      padding: 10px 20px;
      font-weight: 500;
      color: #ccc; }
      nav ul li a:hover {
        color: #eee; }
      nav ul li a.active {
        background: #1C1C1C;
        color: #fff;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px; }

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: normal;
  font-style: normal;
  src: url("/jetbrains_mono/JetBrainsMono-Regular.ttf"); }

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: bold;
  font-style: normal;
  src: url("/jetbrains_mono/JetBrainsMono-Bold.ttf"); }

body {
  background: #1C1C1C;
  color: #fff;
  padding: 0;
  margin: 0; }

* {
  font-family: 'JetBrians Mono', monospace;
  line-height: 1.56;
  word-wrap: break-word; }
