@font-face {
    font-family: 'JetBrains Mono';
    font-weight: normal
    font-style: normal;

    src: url('../jetbrains_mono/JetBrainsMono-Regular.ttf');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: bold;
    font-style: normal;

    src: url('../jetbrains_mono/JetBrainsMono-Bold.ttf');
}

@media (prefers-color-scheme:dark){
    .green { 
        color: #98971a;
    }

    .red { 
        color: #cc241d;
    }

    .blue { 
        color: #458588;
    }

    .gray { 
        color: #928374;
    }
}

ul.projects li a {
    text-decoration: none !important;

    color: none;
}

@media (prefers-color-scheme:dark) {
    ul.projects li a .unlink,
    ul.projects li a p {
        color: #fff;
    }
}

img.honka {
    display: none;

    margin: 5px;
}

@media screen and (min-width:320px) and (max-width:768px) {
    html {
        font-size: 25px;

        background-image: none;
    }

    h1 {
        font-size: 2.5em;

        margin-top: 0 !important;
    }

    body {
        margin: 0;
    }

    ul.site-links li {
        display: inline-block !important;
    }

    ul.projects li a:hover {
        background: #eff0f5;
    }
}

* {
    font-family: 'JetBrians Mono', hack, monospace;
    line-height: 1.56;
    word-wrap: break-word;
    

    -webkit-font-feature-settings: 'liga' on, 'calt' on;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
body {
    padding: 1em;
}

.index {
    padding: 0 !important;
}

.index img {
    margin: 0;
    
    padding: 0;
}

.index div {
    padding: 20px;
}

.index,
.index div h1,
blockquote p {
    margin: 0;
}

* big,
* dl,
* p,
* pre,
* small,
* sup,
* table {
    font-size: 15.6px;
}

b,
table.github thead {
    font-weight: 500;
}

html {
    font-size: 13px;
}

.blueb {
    color: #61afef;
}

.greenb {
    color: #98c379;
}

.orangeb {
    color: #d19a66;
}

.redb1 {
    color: #e06c75;
}

table.github {
    border-spacing: 0;
    border-collapse: collapse;
}

table.github tr td {
    padding: 6px 13px;
    border: 1px solid #d2d1d6;
}

table.github tr:nth-child(even) {
    background: #eff0f5;
}

pre {
    font-family: monospace;
    line-height: 1.42857143;
    

    display: block;
    margin: 0 0 10px;
    padding: 9.5px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 4px;
}

h1.header.telegram,
ul.site-links li a.twitter .link-text {
    background: #3fade2;
}

.head.telegram,
ul.site-links li a.twitter:hover .link-text {
    background: #1f96cf;
}

ul.site-links li a.telegram .link-text {
    background: #26a2e1;
}

ul.site-links li a.telegram:hover .link-text {
    background: #1a84ba;
}

ul.site-links li a.github:hover .link-text {
    background: #613a9a;
}
ul.site-links li a.github .link-text {
    background: #9266CC;
}

@media (prefers-color-scheme:dark) {
    .green {
        color: #98971a;
    }
    .red {
        color: #cc241d;
    }
    .blue {
        color: #458588;
    }
    .gray {
        color: #928374;
    }
}
ul.projects li a .unlink {
    color: #000;
}
@media (prefers-color-scheme:dark) {
    ul.projects li a .unlink,
    ul.projects li a p {
        color: #fff;
    }
}

.qt {
    color: #41cd52;
}

.twitter {
    color: #3fade2;
}

.green {
    color: #79740e;
}

.red,
h1 {
    color: #9d0006;
}

.blue {
    color: #076678;
}

.gray {
    color: #928374;
}

a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
ul.site-links li a {
    text-decoration: none;
}

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h3 a {
    font-size: .85em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.1em;
}

.clean,
h3 {
    margin: 0;
    padding: 0;
}

.w {
    width: 100%;
    height: 100%;
}

ul li {
    font-size: 1.2em;
}

ul ul li {
    font-size: 1em;
}

ul.links,
ul.links li,
ul.projects,
ul.projects li {
    margin: 0;
    padding: 0;

    list-style: none;
}

.head,
.header {
    margin: 0;
    color: #fff;
}

.header {
    font-weight: 800;
    padding: 20px;
    background: #cc241d;
}

.head {
    font-weight: 500;
    padding: 10px 20px;
    
    background: #9d0006;
}

.firefox {
    background: #f0994d !important;
}

.small {
    font-size: 20px;
    
    padding: 5px 20px !important;
}

body.index div.demo {
    padding-top: 0 !important;
}

ul.links li p,
ul.projects li p {
    margin-top: 0;
    padding-top: 8px;
}

.unpadding {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

ul.site-links li {
    display: inline-block;
    margin-top: 23.2333px;
    padding: 0 6px !important;
}

ul.site-links li a {
    font-weight: 500;

    background: transparent !important;

    display: inline-block;
/*    padding: 7px 10px;*/
    color: #000;
    border-radius: 10px;
    background: #eff0f5;

    border: 1px solid #eee;
}

ul.site-links div {
    padding: 5px 10px 5px 10px !important;
    display: inline-block;
}

.link-emoji {
    padding-right: 10px !important;
    background: #ececec;
    border-right: 1px solid #ccc;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.link-text {
    padding-left: 10px !important;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

ul.site-links li a.github,
ul.site-links li a.telegram,
ul.site-links li a.twitter {
    color: #fff;
}

ul.site-links li a:hover {
    background: #d2d1d6;
}

ul.site-links li a:hover .link-emoji {
    background: #dcdcdc;
}

ul.site-links li:last-child a {
    margin-right: 0;
}

ul.site-links li:first-child a {
    margin-left: 0;
}

a:hover {
    color: #7a7cff;
}

ul.projects li {
    width: auto;
    height: auto;
}

@media screen and (min-width: 1280px) {
    ul.projects li {
        padding-right: 20px;
        display: inline;
    }
}

ul.projects li a,
ul.projects li a:hover {
    transition: box-shadow .3s .1s;
    background: #eff0f5;
}

ul.projects li a {
    font-weight: 500;
    position: relative;

    display: inline-block;
    width: 45%;
    width: calc(45% + 20px);
    max-width: 450px;
    height: 40%;
    margin-bottom: 20px !important;
    border: 1px solid #e5e8ec;
    border-radius: 10px;
}

ul.projects li a .info,
ul.projects li a img {
    border-radius: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

ul.projects li a img {
    display: block;
    width: 100%;
}

ul.projects li a .info {
    padding: 20px;

    color: #000;
    border-bottom: 1px solid #efe4b1;
    background: #fffbdd;
}

ul.projects li a .content {
    padding: 20px !important;
}

ul.projects li a p {
    line-height: 1.3;

    margin-bottom: 0;
    padding-top: 0;
    color: #0e0e0e;
}

ul.projects li a span.date,
ul.projects li a span.type {
    color: rgba(0, 0, 0, .5);
}

ul.projects li a span.date {
    float: right;

    text-align: right;
}

ul.projects li a:hover {
    box-shadow: 0 0 30px #bbb;
}

h3.code-header {position: inline-block;
    padding: 10px;
    text-align: center;
    color: #000;
    border-radius: 7px;
    
    background: #eff0f5;
}

.emoji {
    max-width: none;
    margin: 0 !important;
    padding: 0 !important;
    vertical-align: text-top;
    text-decoration: none;
    border-style: none !important;
    background-color: initial;
}

.code {
    width: 300px;
    padding: 15px;
    color: #fff;
    border-radius: 7px;
    
    background: #1e1e1e;
}

.table-code {display: inline-block;
    margin-top: 6px;
    padding: 7px;
    color: #fff;
    border-radius: 5px;
    
    background: #282c34;
}

.ban {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

blockquote {margin-left: 0;
    padding: 20px;
    color: #fff;
    border-left: 10px solid #b57614;
    
    background: #d79921;
}

.ftp table {
    border: 0 solid;
}

.ftp table tr:first-child {
    font-weight: 500;
}

.ftp table td {
    padding: 5px 15px 5px 0;
}

.h {
    padding: 0 !important;
}

nav {margin: 0 !important;
    padding: 0 80px;
    

    background-image: url(https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/v1555927976/shape/mentalfloss/111798556-565x376_1.jpg?itok=UEG-2KGY);
    /*background-image: url(/images/dubass.png);*/
    background-size: cover;
    /*background: #669A47;*/
}

nav ul {margin: 0;
    

    list-style: none;
}

nav a,
nav li,
nav ul {
    display: inline-block;
}

nav li {
    margin-right: 7px;
}

nav li a {
    font-weight: 500;
    line-height: 1.3;
    

    padding: 10px 25px;
    cursor: pointer;
    text-decoration: none;
    background: #510003;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 20px;
}

nav li.active {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    /*background: red !important;*/
}

nav li.active a {
    padding-top: 10px !important;
    margin-top: 10px;
    background: transparent !important;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

nav,
nav li a,
nav li a:hover,
nav li.logo:hover a {
    color: #fff;
}

/*nav li:hover a {
    background: #cc241d;
}*/

nav li.logo a,
nav ul {
    padding-left: 0;
}

nav li.logo a,
nav li.logo:hover {
    background: 0 0;
}

nav ul.right {
    float: right;
}

.active {
    font-weight: 600;
}

@media screen and (min-width:320px) and (max-width:768px) and (prefers-color-scheme:dark) {
    ul.projects li a:hover {
        background: #17181c;
    }
}

@media screen and (min-width:1366px) {
    img.honka {
        display: block;
    
        float: right;
        padding: 20px;
    }

    body {
        padding: 2em;
    }

    h1 {
        margin-top: 0;
    }
}

@media screen and (max-width:439px) {
    img {
        width: 100%;
    }
}

@media screen and (max-width:700px) {
    ul.projects li a {
        width: 100% !important;
    }
}

@media screen and (min-width:1px) and (max-width:370px) {
    pre.code {
        width: calc(100% - 30px);
    }
}

@media screen and (max-width:360px) {
    .projects {
        width: 100%;
    }
}

@media screen and (min-width:500px) {
    .index div:not(.h) {
        padding: 20px 80px 40px;
    }

    .index .h h1,
    .index .header {
        padding: 20px 80px !important;
    }

    .index .head {
        padding: 10px 80px !important;
    }

    .index .h {
        padding: 0 !important;
    }

    .index .h h1 {
        margin: 0;
    }
}

@media screen and (max-width:400px) {
    nav {
        padding: 0;
    }
    nav ul {
        width: calc(100% - 50px);
    }

    nav,
    nav a,
    nav li {
        width: 100%;
    }

    nav li {
        display: block;
    }

    nav a {
        text-align: center;
    }

    nav .active {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (min-width:400px) and (max-width:600px) {
    nav {
        width: 100%;
        padding: 0 !important;
    }
}

.home {
    color: #fff;
    background: #3f51b5;
}

a.home:not(.active):hover {
    background: #002984;
}

.lorem {
    color: #fff;
    background: #f57f17;
}

a.lorem:not(.active):hover {
    background: #bc5100;
}

.win2k {
    background: #3b6ea5;
}

.test-header {
    background: #fbc02d;
}

.wiki {
    background: #f6f9fa;
}

.wiki,
a.wiki.active:hover {
    color: #000;
}

a.wiki:not(.active):hover {
    background: #c3c3c3;
}

.ftp-menu {
    color: #fff;
    background: #cc241d;
}

a.ftp-menu:not(.active):hover {
    background: #930000;
}

.bot {
    color: #fff;
    background: #3fade2;
}

a.bot:not(.active):hover {
    background: #007eb0;
}

.kanobu {
    color: #fff;
    background: #8e867b;
}

a.kanobu:not(.active):hover {
    color: #fff;
    background: #61594f;
}

.dark-kanobu {
    background: #373027;
}

.error {
    background: #7f0000;
}

form button,
form input {
    font-size: 17px;
    padding: 5px;

    border: 1px solid #a2a9b1;
}

form input {
    min-width: 150px;
}

form button {
    color: #fff;
    
    background: #076678;
}

footer {
    padding: 20px 80px;
    
    background: #fbc02d;
}

.haiku {
    background: #FF9C00;
}

.haiku-dark, a.haiku:not(.active):hover {
    background: #c66d00;
}

footer ul {
    padding: 0 !important;
    list-style: none;
}

footer ul li > a,
footer ul li > a:visited {
    color: #00f !important;
}

footer ul li > a:hover {
    text-decoration: underline !important;
}

footer h4 {
    margin: 0 !important;
}

@media (prefers-color-scheme:dark) {
    body {
        color: #fff;
    
        background: #000;
    }

    a {
        color: #1565c0;
    }

    h1 {
        color: #cc241d;
    }

    ul.projects li a {
        border: 1px solid #121212 !important;
    
        background: #17181c !important;
    }

    ul.projects li span.date,
    ul.projects li span.type {
        color: rgba(255, 255, 255, .5) !important;
    }

    ul.projects li .info {
        color: #fff !important;
        border-bottom: 1px solid #413206 !important;
        background: #261d08 !important;
    }

    ul.projects li .content h3,
    ul.projects li .content p,
    ul.site-links li a {
        color: #fff !important;
    }

    ul.projects li a:hover {
        transition: box-shadow .3s .1s;
    
        background: #17181c !important;
        box-shadow: 0 0 30px #222;
    }

    ul.site-links li a {
        background: #17181c !important;
    }

    ul.site-links li a:hover {
        background: #3a3a3c !important;
    }

    ul.site-links li a.twitter div.link-text {
        background: #1f96cf !important;
    }

    ul.site-links li a.telegram .link-text {
        background: #1a84ba !important;
    }

    ul.site-links li a.github .link-text {
        background: #9266CC !important;
    }

    ul.site-links li:hover a.github .link-text {
        background: #613a9a !important;
    }

    table.github * {
        border: 1px solid #3a3a3c !important;
    }

    table.github tr:nth-child(even) {
        background: #17181c !important;
    }

    .wiki,
    a.wiki:hover {
        color: #fff;
    }

    .wiki {
        background: #1f1f1f !important;
    }

    a.wiki:not(.active):hover {
        color: #fff !important;
        background: #464646 !important;
    }

    .wiki-image {
        background: #000 !important;
    }

    .header.telegram {
        background: #1f96cf;
    }

    .head.telegram {
        background: #00689e;
    }
}

.header.atom {
    background: #282C34 !important;
}

.head.atom {
    background: #21252B !important;
}

.hljs {
    padding: 20px !important;
    border-radius: 5px;
}

.header-image {
    background-position: center center !important;
    background-size: cover !important;
}

.header-image h1.header, .no-image h1.header {
    padding-top: 200px !important;
}

.header-image h1.header {
    color: #fff;
}

@media (prefers-color-scheme:dark){
    .wiki:hover {
        color: #fff !important;
    }
}

.header-image h1.header {
    background: none !important;
}

/*.header-image nav {
    background: none;
    padding-left: 80px;
}

.header-image .active {
    background: none;
    color: #fff;
}

html body .header-image nav li a.active:hover {
    background: none !important;
}*/

.header-image section {
    background: rgba(0, 0, 0, .4);
    transition: .2s background;
}

.header-image:hover section{
    background: rgba(0, 0, 0, .6);
    transition: .2s background;
}

h2, h3, h4, h5, h6 {
    padding-top: 1.5em;
}

h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    padding-top: 0;
}

.projects h3 {
    padding-top: 0;
}

@media screen and (max-width:500px) {
    nav ul li a {
        margin: 0;
        border-radius: 0;
    }
}

@media (prefers-color-scheme: dark) {
    .site-links li, .site-links li a {
        border: 0px solid #121212 !important;
    }

    .site-links li .link-emoji {
        background: #111 !important;
        border-right: 1px solid #222;
    }

    .site-links li:hover .link-emoji {
        background: #222 !important;
    }
}
