@font-face
    font-family: 'JetBrians Mono';
    src: url('../jetbrains_mono/JetBrainsMono-Regular.ttf')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'JetBrians Mono';
    src: url('../jetbrains_mono/JetBrainsMono-Bold.ttf')
    font-weight: bold
    font-style: normal

@media (prefers-color-scheme: dark)
    body
        background: black
        color: white

    a
        color: #304ffe

    h1
        color: #d84315

    .error
        color: #9b0000

    .green
        color: #64dd17

@media screen and (device-width: 320px)
    html 
        font-size: 25px

    h1
        font-size: 2em

@media screen and (max-width: 439px)
    img
        width: 100%

*
    font-family: "JetBrians Mono"
    word-wrap: break-word
    line-height: 1.2

html
    font-size: 14px

body
    padding: .5em

p
    font-size: 1.2em

h1, h2, h3, h4, h5, h6
    a
        text-decoration: none

// a
//     color: #0026ca

h1
    color: #f44336
    font-size: 3em
    margin: 0

h2
    font-size: 2em

h3
    font-size: 1.5em

    a
        font-size: .85em

ul, li
    list-style: none
    margin: 0
    padding: 0

h3
    margin: 0
    padding: 0

li
    p
        margin-top: 0
        padding-top: 8px

li
    margin-bottom: 2em

.error
    color: #d50000

.green
    color: #1faa00

.blue
    color: #03a9f4

h2.projects
    color: #ff9800

a:hover
    color: #7a7cff
