@import "etc/font"
@import "etc/colors"

img.honka
    display: none

@media screen and (min-width: 320px) and (max-width: 768px)
    html
        font-size: 25px
        background-image: none

    h1
        font-size: 2.5em
        margin-top: 0 !important

    h1.ascii
        font-size: .3em

    body
        margin: 0

    table.timer
        display: block
        text-align: left
        font-size: 1em

    ul.site-links
        li
            display: inline-block !important

    ul.projects li a:hover
        background: #EFF0F5

*
    -webkit-font-feature-settings: "liga" on, "calt" on
    -webkit-font-smoothing: antialiased
    text-rendering: optimizeLegibility
    font-family: "JetBrians Mono", hack, monospace
    word-wrap: break-word
    line-height: 1.56

img.honka
    margin: 5px

body
    padding: 1em

.index
    padding: 0 !important
    margin: 0

    img
        padding: 0
        margin: 0

    div:not(.h, .shiza)
        padding: 20px
        //padding-bottom: 0 !important

        h1
            margin: 0

*
    p, pre, table, small, big, dl, sup
        font-size: 15.6px

b
    font-weight: 500

html
    font-size: 13px

.blueb
    color: $dev-blue

.greenb
    color: $dev-green

.orangeb
    color: $dev-orange1

.redb1
    color: $dev-red1

table.github
    border-spacing: 0px
    border-collapse: collapse

    tr td
        // 6px 13px
        padding: 6px 13px
        // border: 1px solid #dfe2e5
        border: 1px solid #D2D1D6

    tr:nth-child(even)
        //background: #F6F8FA
        background: #EFF0F5

    thead
        font-weight: 500

pre
    display: block
    font-family: monospace
    padding: 9.5px
    margin: 0 0 10px
    line-height: 1.42857143
    word-break: break-all
    word-wrap: break-word
    border-radius: 4px

@import "components/headers"

.clean
    padding: 0
    margin: 0

.w
    width: 100%
    height: 100%

ul:not(.projects, .links)
    li
        font-size: 1.2em

    ul
        li
            font-size: 1em

ul.projects, ul.projects li, ul.links, ul.links li
    list-style: none
    margin: 0
    padding: 0

.header
    background: $red-dark
    margin: 0
    padding: 20px
    color: white
    font-weight: 800

.head
    background: $red
    margin: 0
    padding: 10px 20px 10px 20px
    color: white
    font-weight: 500


.firefox
    background: #F0994D !important

h1
    font-size: 2.6em

.small
    padding: 5px 20px 5px 20px !important
    font-size: 20px

body.index div.demo
    padding-top: 0 !important

ul.projects, ul.links
    li
        p
            margin-top: 0
            // margin-bottom: 1.7em
            padding-top: 8px

.unpadding
    padding-bottom: 0 !important
    margin-bottom: 0 !important

ul.site-links
    li
        display: inline-block
        padding: 0 6px 0 6px !important
        margin-top: 23.2333px

        a
            display: inline-block
            background: #EFF0F5
            color: black
            font-weight: 500
            padding: 7px 10px 7px 10px
            border-radius: 10px
            text-decoration: none

        a.github, a.twitter, a.telegram
            color: white

        a:hover
            background: #D2D1D6

    li:last-child a
        margin-right: 0

    li:first-child a
        margin-left: 0

a:hover
    color: #7a7cff

ul.projects

    li
        width: auto
        height: auto

        a
            display: inline-block
            position: relative

            border: 1px solid #e5e8ec

            width: 45%
            width: calc(45% + 20px)
            height: 40%
            max-width: 450px

            background: #EFF0F5
            //background: #efefef
            border-radius: 20px

            font-weight: 500 

            transition: box-shadow .3s .1s
            margin-bottom: 20px !important

            img, .info
                border-radius: 20px
                border-bottom-left-radius: 0
                border-bottom-right-radius: 0

            img
                display: block
                width: 100%

            .info
                color: black
                background: #FFFBDD
                padding: 20px
                border-bottom: 1px solid #EFE4B1

            .content
                padding: 20px !important

            p
                margin-bottom: 0
                padding-top: 0
                line-height: 1.3
                color: #0e0e0e

            span.type, span.date
                color: rgba(0, 0, 0, 0.5)

            span.date
                text-align: right
                float: right

        a:hover
            //background: #D2D1D6
            background: #EFF0F5
            box-shadow: 0 0 20px #bbb
            transition: box-shadow .3s .1s

h3.code-header
    background: #EFF0F5
    color: #000
    padding: 10px
    text-align: center
    position: inline-block
    border-radius: 7px

.emoji
    max-width: none
    vertical-align: text-top
    background-color: initial
    border-style: none !important
    padding: 0 !important
    margin: 0 !important
    text-decoration: none

.code
    background: #1e1e1e
    color: #fff
    width: 300px
    padding: 15px
    border-radius: 7px

.table-code
    background: #282C34
    color: #fff
    padding: 7px
    margin-top: 6px
    display: inline-block
    border-radius: 5px

.ban
    margin-top: 0 !important
    padding-top: 0 !important

blockquote
    background: $yellow-dark
    margin-left: 0
    padding: 20px
    border-left: 10px solid $yellow
    color: white

    p
        margin: 0

.ftp
    table
        border: 0px solid none

        tr:first-child
            font-weight: 500

        td
            padding: 5px 15px 5px 0

.h
    padding: 0 !important

nav
    background-image: url(/dubass.png)
    background-size: cover
    margin: 0 !important
    padding: 0px 80px
    color: white

    ul 
        list-style: none
        margin: 0
        padding-left: 0

    li, ul, a
        display: inline-block

    li
        a
            padding: 10px 25px
            background: $shiza
            cursor: pointer
            color: white
            text-decoration: none
            font-weight: 500
            line-height: 1.3
        a:hover
            color: white

    li:hover
        background: $red-dark

    li.logo a
        padding-left: 0
        background: transparent

    li.logo:hover
        background: transparent

        a
            color: white

    ul.right
        float: right

a
    text-decoration: none

.active
    font-weight: 600


@import "etc/mobile"
@import "etc/colors/menu"
@import "components/form"
@import "components/footer"
@import "etc/dark"
