@media screen and (min-width: 750px)
    img.wiki_photo
        float: right
        margin: 20px

@media (prefers-color-scheme: dark)
    h1
        color: #fff !important

h1
    font-family: "New York", "Georgia", "Times New Roman" !important
    color: #000 !important

*
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important
