@media screen and (min-width: 750px)
    img.wiki_photo
        float: right
        margin: 20px

@media (prefers-color-scheme: dark)
    h1
        color: #fff !important

h1
    font-family: "New York", "Georgia", "Times New Roman", sans-serif !important
    color: #000 !important

*
    font-family: -apple-system, BlinkMacSystemFont, "Noto Sans", arial !important
