html
    head
        link(rel="stylesheet", href="./static/css/style.css")
        meta(charset="utf-8")
        title 🚫 404
    body
        h1(class="error") 404
        p Случился пиздец( Такой страницы нету((
