doctype html
html
    head
        include includes/head.pug
        title jdan734-bot
    body.index
        h1.header jdan734-bot
        p.head Multifunctional telegram bot for banning and stuff)))
        div.demo
            h2 Что может бот
            ul
                li 🔍 Смотреть статьи из
                    ul
                        li 📚 Википедии
                        li 🍌 Лурка
                        li 🧛 Мракопедии
                li 🖼 Редактировать фото
                    ul
                        li 🖌 Наносить
                            ul
                                li 💬 Текст
                                li ⬜️ Прямоугольники, в том числе квадраты
                        li 🔍 Ресайзить
                li 🔐 Создавать хеши (sha256)
                li 🔐 Генерировать пароли
            h2 Тестирование бота
            table.github
                thead
                    td Команда
                    td Статус
                tr
                    td /wiki
                    td ⚠️ Beta
                tr
                    td /calc
                    td ❌ None
                tr
                    td /art
                    td ⚠️ Beta
                tr
                    td /start
                    td 👍 stable
                tr
                    td /wget 
                    td ⚠️ Beta
                tr
                    td /fake
                    td ⚠️ Beta
