doctype html
html
    head
        include includes/head.pug
        title jdan734-bot
    body.index
        nav
            ul
                li
                    a.home(href="/") Home
                li
                    a.lorem(href="/lorem") Lorem
                li
                    a.wiki(href="/wiki/wikipedia") Wikipedia
                li
                    a.ftp-menu(href="/ftp") FTP
                li
                    a.bot.active(href="/bot") Bot
                li
                    a.kanobu(href="/kanobu") Kanobu

        h1.header.telegram jdan734-bot
        p.head.telegram Multifunctional telegram bot for banning and stuff :)
        div.demo
            //- h2 Что может бот
            //- ul
            //-     li 🔍 Смотреть статьи из
            //-         ul
            //-             li 📚 Википедии
            //-             li 🍌 Лурка
            //-             li 🧛 Мракопедии
            //-     li 🖼 Редактировать фото
            //-         ul
            //-             li 🖌 Наносить
            //-                 ul
            //-                     li 💬 Текст
            //-                     li ⬜️ Прямоугольники, в том числе квадраты
            //-             li 🔍 Ресайзить
            //-     li 🔐 Создавать хеши (sha256)
            //-     li 🔐 Генерировать пароли
            h2 🚀 Start
            p To start, clone this repo and run this code:
            pre.code
                span.blueb cd 
                span.greenb bot
                br
                span.blueb python 
                span.greenb bot.py
            p or you can start bot from / if you use environ:
            pre.code
                span.blueb python 
                span.greenb bot/bot.py
            h2 🔑 Token
            p
              | You can get token from 
              a(href='t.me/BotFather') BotFather
              | .
              br
              | After you must create file token.json in / if you not use environ:
            pre.code
                span {
                span.blueb "token"
                span : 
                span.greenb "XXXXXXX"
                span }
            p Else you must create code TOKEN in environ with your token.

            h2 Тестирование бота
            table.github.uneven
                thead
                    td Команда
                    td Описание
                    td Статус
                tr
                    td /start
                    td(rowspan=2) Помощь
                    td(rowspan=2) 👍 Stable
                tr
                    td /help
                tr
                    td /to_json
                    td 
                        | Переводит python dict в json <br/>
                        | <span class="table-code">{<span class="redb1">'a'</span>: <span class="orangeb">None</span>}</span> =&gt; <span class="table-code">{<span class="redb1">"a"</span>: <span class="orangeb">false</span>}</span>
                        | &nbsp;
                    td(rowspan=2) 👍 Stable
                tr
                    td /to_yaml
                    td
                        | Переводит json в yaml <br/>
                        | <span class="table-code">{<span class="redb1">'a'</span>: <span class="orangeb">false</span>}</span> 
                        | =&gt;
                        | <span class="table-code"><span class="redb1">a</span>: <span class="orangeb">false</span></span>
                tr
                    td /delete
                    td Удаляет сообщение
                    td(rowspan=2) ⚠️ Beta
                tr
                    td /wget
                    td Получение информации о сайте
                tr
                    td /status
                    td Статус бота
                    td(rowspan=2) 👍 Stable
                tr
                    td /uptime
                    td Время работы бота
                tr(style="background: yellowgreen; color: #fff; text-align: center;")
                    td(colspan=4) Математика
                tr
                    td /calc
                    td Выполнение примеров
                    td ❌ None
                tr
                    td /sqrt
                    td Вычисление корней
                    td ⚠️ Beta
                tr(style="background: yellowgreen; color: #fff; text-align: center;")
                    td(colspan=4) Онлайн-ресурсы
                tr
                    td /wiki
                    td Просмотр википедии
                    td ⚠️ Beta
                tr(style="background: yellowgreen; color: #fff; text-align: center;")
                    td(colspan=4) Работа с текстом
                tr
                    td /upper
                    td Пересылает текст заглавными буквами
                    td(rowspan=3) 👍 Stable
                tr
                    td /lower
                    td Пересылает текст прописными буквами
                tr
                    td /title
                    td Каждое слово с заглавной буквы
                tr(style="background: yellowgreen; color: #fff; text-align: center;")
                    td(colspan=4) Работа с изображениями
                tr
                    td /resize
                    td Пропорционально уменьшает фото
                    td(rowspan=3) 👍 Stable
                tr
                    td /text
                    td Наносит текст на фото
                tr
                    td /rectangle
                    td Рисует квадраты
                tr
                    td /art
                    td Создание ASCII артов
                    td ⚠️ Beta
                tr(style="background: yellowgreen; color: #fff; text-align: center;")
                    td(colspan=4) Шифровая херня
                tr
                    td /sha256
                    td Хеширует текст в sha256
                    td(rowspan=2) 👍 Stable
                tr
                    td /generate_password
                    td Генерация паролей
                tr(style="background: yellowgreen; color: #fff; text-align: center;")
                    td(colspan=4) Мемы
                tr
                    td /fake
                    td Отправляет фото с джонами
                    td ⚠️ Beta
                tr
                    td /rzaka
                    td Отправляет короткий вариант ржаки-смеяки
                    td(rowspan=3) 👍 Stable
                tr
                    td /rzaka_full
                    td Отправляет полный вариант ржаки-смеяки
                tr
                    td /rzaka_time
                    td Отправляет число часов в ржаке-смеяке
                tr
                    td /ban
                    td Отправляет бан
                    td(rowspan=3) 👍 Stable
                tr
                    td /bylo
                    td Отправляет "было"
                tr
                    td /ne_bylo
                    td Отправляет "не было"
                tr
                    td /pizda
                    td Отправляет стикер "пизда"
                    td(rowspan=5) 👍 Stable
                tr
                    td /tebe_pizda
                    td Отправляет стикер "пизда тебе"
                tr
                    td /xui
                    td Отправляет стикер "хуй"
                tr
                    td /net_xua
                    td Отправляет стикер "нет хуя"
                tr
                    td /pizda
                    td Отправляет стикер "пизда"

            h2 🔨 Dependencies
            ul.projects
                li
                    a(href='https://github.com/eternnoir/pyTelegramBotAPI')
                        h3 ✈️ PyTelegramBotAPI
                        p A simple, but extensible Python implementation for the Telegram Bot API.
                li
                    a(href='https://github.com/lxml/lxml')
                        h3 🛠 lxml
                        p lxml is the most feature-rich and easy-to-use library for processing XML and HTML in the Python language.
                li
                    a(href='https://www.crummy.com/software/BeautifulSoup/')
                        h3 🍲 BeautifulSoup
                        p Beautiful Soup is a Python library designed for quick turnaround projects like screen-scraping.
                li 
                    a(href='https://github.com/python-pillow/Pillow') 
                        h3 🖼 pillow
                        p The Python Imaging Library adds image processing capabilities to your Python interpreter.
                li
                    a(href='https://github.com/sepandhaghighi/art')
                        h3 📟 art
                        p ASCII art is also known as “computer text art”.
                li
                    a(href='https://github.com/yaml/pyyaml')
                        h3 📄 pyyaml
                        p The next generation YAML parser and emitter for Python.
                li
                    a(href='https://github.com/anqxyr/pyscp')
                        h3 👻 pyscp
                        p pyscp is a python library for interacting with wikidot-hosted websites.
