doctype html
html
    head
        include includes/head.pug
        title jDan734
    body.index
        img.honka(src="/static/honka_kaiser.png", alt="honka-kaiser")

        div
            h1 jDan734

            h2 About me

            p Python junior. I know JavaScript (jQuery, Node JS, Gulp), CSS (SASS), HTML (Pug)

            h2 Socials

            ul.links
                li
                    h3
                        a(href="https://github.com/jdan735") 🐙 Github
                li
                    h3
                        a(href="https://t.me/jdan734") ✈️ Telegram

            h2 Links
            ul.links
                each val in ["/lorem", "/wiki/бан_интернет", "/kanobu", "/404"]
                    li
                        h3
                            a(href=val)= val

            h2 Projects
            ul.projects
                li
                    h3 
                        a(href="https://github.com/jdan735/kanobu") ✂️ Kanobu 
                        
                    p Simple game for your kids

                li
                    h3 
                        a(href="https://github.com/jdan735/jDan734-bot") 🤖 jDan734-bot 
                        
                    p Multifunctional bot for banning and stuff :)

                li
                    h3 
                        a(href="https://github.com/jdan735/qtkanobu") 💻 QtKanobu 
                    p Qt port of kanobu

                li
                    h3 
                        a(href="https://github.com/jdan735/qttwitter") 🐦 QtTwitter 
                    p Twitter client writed on pyqt

