html
    head
        link(rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16")
        link(rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32")
        link(rel="icon" type="image/png" href="/static/favicon-96x96.png" sizes="96x96")

        link(rel="stylesheet", href="./static/css/style.css")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title jDan734
    body
        h1 jDan734's site
        h2 👨‍💻 About me

        p Python junior. I know JavaScript (jQuery, Node JS, Gulp), CSS (SASS), HTML (Pug)

        h2 📦 Projects
        ul
            li
                h3 🗿✂️📄 Kanobu 
                    a(href="https://github.com/jdan735/kanobu") [repo]
                p Simple game for your family)
            li
                h3 🤖 jDan734-bot 
                    a(href="https://github.com/jdan735/jDan734-bot") [repo]
                    a(href="https://t.me/jDan734_bot") [tg]
                p Многофункциональный бот для бана и прочего :)
            li
                h3 💻 
                    span.green Qt
                    span Kanobu 
                    a(href="https://github.com/jdan735/qtkanobu") [repo]
                img(src="/static/photo_2020-09-12_16-47-27.jpg")
                p Qt port of kanobu
