doctype html
html
    head
        include includes/head.pug
        title jDan734
    body.index
        img.honka(src="/honka_kaiser.png", alt="honka-kaiser")
        nav
            ul
                li
                    a.home.active(href="/") Home
                li
                    a.lorem(href="/lorem") Lorem
                li
                    a.wiki(href="/wiki/wikipedia") Wikipedia
                li
                    a.ftp-menu(href="/ftp") FTP
                li
                    a.bot(href="/bot") Bot
                li
                    a.kanobu(href="/kanobu") Kanobu

        h1.header.home Home
        div.demo
            h2 About me

            p.unpadding Python junior. I know JavaScript (jQuery, Node JS, Gulp), CSS (SASS), HTML (Pug)

            ul.links.site-links
                li
                    a.github(href="https://github.com/jdan735") Github
                li
                    a.twitter(href="https://twitter.com/jdan734") Twitter
                li
                    a.telegram(href="https://t.me/jdan734") Telegram

            //- h2.unpadding Links
            //- ul.links.site-links
            //-     each val in ["/lorem", "/wiki/wikipedia", "/ftp", "/test"]
            //-         li
            //-            a.unlink(href=val)= val

            h2 Projects
            ul.projects
                li
                    a(href="/kanobu")
                        h3.unlink ✂️ Kanobu
                        p Simple game for your kids

                li
                    a(href="/bot")
                        h3.unlink 🤖 jDan734-bot
                        p Multifunctional telegram bot for banning and stuff :)

                li
                    a(href="https://github.com/jdan735/qtkanobu")
                        h3 💻 
                            span.qt Qt
                            span.unlink Kanobu 
                        p Qt port of kanobu

                li
                    a(href="https://github.com/jdan735/qttwitter")
                        h3 🐦 
                            span.qt Qt
                            span.twitter Twitter 
                        p Twitter client writed in pyqt

