doctype html
html
    head
        include includes/head.pug
        title jDan734
    body.index
        img.honka(src="/static/honka_kaiser.png", alt="honka-kaiser")

        div
            h1 jDan734

            h2 About me

            p Python junior. I know JavaScript (jQuery, Node JS, Gulp), CSS (SASS), HTML (Pug)

            h2 Links
            ul.links
                each val in ["/lorem", "/wiki/бан_интернет", "/kanobu", "/404"]
                    li
                        h3
                            a(href=val)= val

            h2 Projects
            ul.projects
                li
                    h3 ✂️ Kanobu 
                        a(href="https://github.com/jdan735/kanobu") repo
                    p Simple game for your kids

                li
                    h3 🤖 jDan734-bot 
                        a(href="https://github.com/jdan735/jDan734-bot") repo
                    p Multifunctional bot for banning and stuff :)

                li
                    h3 💻 
                        span.green Qt
                        span Kanobu 
                        a(href="https://github.com/jdan735/qtkanobu") repo
                    p Qt port of kanobu

                li
                    h3 🐦 
                        span.green Qt
                        span.blue Twitter 
                        a(href="https://github.com/jdan735/qttwitter") repo
                    p Twitter client writed on pyqt

