doctype html
html
    head
        include includes/head.pug
        title Ligatures
    body.index
        div
            h1 Ligatures
            h4 /= ~~ [||] ## ++ |] |] /== #_( |= // /* */ := :::
