doctype html
html
    head
        include includes/head.pug
        title Ligatures
    body.index
        h1.header Ligatures
        div.demo
            h4 /= ~~ [||] ## ++ |] |] /== #_( |= // /* */ := :::
