doctype html
html
    head
        include includes/head.pug
        meta(charset="utf-8")
        title neo_kanobu
    body.game.index
        div
            p.big Kanobu
            p.big Ноль бана<br>Ноль настроек
            p.gray Игра Kanobu блокирует желание банить, защищает от недобана и обладает уникальными встроенными функциями.<br>Загрузите Kanobu прямо сейчас.
            p.shiza
                a(href="https://github.com/jdan735/kanobu") <svg xmlns="http://www.w3.org/2000/svg" viewBox="-3 -3 28 28" width="20" height="20"><path d="M24 11.5v-11.5l-13.4 1.9v9.6h13.4zm-14.3-9.4l-9.7 1.4v8h9.7v-9.4zm-9.7 10.3v8.1l9.7 1.4v-9.5h-9.7zm10.6 9.7l13.4 1.9v-11.6h-13.4v9.7z"></path></svg> Скачать Kanobu
            p.a Также доступна для бана

        img.kanobu-image(src="/images/kanobu.png")
