doctype html
html
    head
        include includes/head.pug
        title test
    body.index
        nav
            ul
                li
                    a.home(href="/") Home
                li
                    a.lorem(href="/lorem") Lorem
                li
                    a.wiki(href="/wiki/wikipedia") Wikipedia
                li
                    a.ftp-menu(href="/ftp") FTP
                li
                    a.bot(href="/bot") Bot
                li
                    a.kanobu(href="/kanobu") Kanobu
        h1.header.test-header Дебажная
        div.demo
            h2 h2 Heading
            h3 h3 Heading
            h4 h4 Heading
            h5 h5 Heading
            h6 h6 Heading
            hr
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac consequat ex. Phasellus enim urna, fermentum at lacus sit amet, rhoncus pulvinar diam. Suspendisse vestibulum accumsan volutpat. Etiam at nulla est.
            p
                i Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac consequat ex. Phasellus enim urna, fermentum at lacus sit amet, rhoncus pulvinar diam. Suspendisse vestibulum accumsan volutpat. Etiam at nulla est.
            p
                b Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac consequat ex. Phasellus enim urna, fermentum at lacus sit amet, rhoncus pulvinar diam. Suspendisse vestibulum accumsan volutpat. Etiam at nulla est.
            p
                i
                    b Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac consequat ex. Phasellus enim urna, fermentum at lacus sit amet, rhoncus pulvinar diam. Suspendisse vestibulum accumsan volutpat. Etiam at nulla est.
            ul.projects
                li
                    a(href="/bot")
                        img(src="/images/index.png")
                        .content
                            span.type 🤖 BOT
                            span.date 🗓 Jul 8
                            h3.unlink jDan734-bot
                            p Multifunctional telegram bot for banning and stuff :)
