doctype html
html
    head
        include includes/head.pug
        title test
    body.index
        div
            h1 h1 Heading 😎
            h2 h2 Heading
            h3 h3 Heading
            h4 h4 Heading
            h5 h5 Heading
            h6 h6 Heading
            h2 Horizontal Rules
            hr
            hr
            hr
            h2 Typographic replacements
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac consequat ex. Phasellus enim urna, fermentum at lacus sit amet, rhoncus pulvinar diam. Suspendisse vestibulum accumsan volutpat. Etiam at nulla est. Nam aliquet, nibh in sodales ornare, ante orci maximus justo, non scelerisque quam elit at justo. Nulla imperdiet, est in eleifend ultrices, nibh sapien fermentum dolor, vitae tincidunt nunc tellus vitae nulla.
            p
                i Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac consequat ex. Phasellus enim urna, fermentum at lacus sit amet, rhoncus pulvinar diam. Suspendisse vestibulum accumsan volutpat. Etiam at nulla est. Nam aliquet, nibh in sodales ornare, ante orci maximus justo, non scelerisque quam elit at justo. Nulla imperdiet, est in eleifend ultrices, nibh sapien fermentum dolor, vitae tincidunt nunc tellus vitae nulla.
            p
                b Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac consequat ex. Phasellus enim urna, fermentum at lacus sit amet, rhoncus pulvinar diam. Suspendisse vestibulum accumsan volutpat. Etiam at nulla est. Nam aliquet, nibh in sodales ornare, ante orci maximus justo, non scelerisque quam elit at justo. Nulla imperdiet, est in eleifend ultrices, nibh sapien fermentum dolor, vitae tincidunt nunc tellus vitae nulla.
            p
                i
                    b Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac consequat ex. Phasellus enim urna, fermentum at lacus sit amet, rhoncus pulvinar diam. Suspendisse vestibulum accumsan volutpat. Etiam at nulla est. Nam aliquet, nibh in sodales ornare, ante orci maximus justo, non scelerisque quam elit at justo. Nulla imperdiet, est in eleifend ultrices, nibh sapien fermentum dolor, vitae tincidunt nunc tellus vitae nulla.
