doctype html
html.clean
    head
        include includes/head.pug
        script(src="https://momentjs.com/downloads/moment-with-locales.js")
        script(src="https://zeptojs.com/zepto.min.js")
        title Timer
    body.clean.w
        table.timer
            td
                p Сколько существует чят?
                p.time 1 день, 5 недель, 5 месяцев
                p.time2 12 часов, 45 минут

        script(src="/static/js/timer.js?v=0.1")
