doctype html
html
    head
        include includes/head.pug
        title Wikipedia
    body.index
        nav
            ul
                li
                    a.home(href="/") Home
                li
                    a.lorem(href="/lorem") Lorem
                li
                    a.wiki.active(href="/wiki/wikipedia") Wikipedia
                li
                    a.ftp-menu(href="/ftp") FTP
                li
                    a.bot(href="/bot") Bot
                li
                    a.kanobu(href="/kanobu") Kanobu
        h1.header.wiki Wikipedia
        div
            form(action="/wiki")
                input(name="title")
                button(type="submit") Send
