html
    head
        link(rel="stylesheet", href="css/style.css")
        meta(charset="utf-8")
    body
        h1 jDan734's site
        p Я на 
            a(href="https://github.com/jdan735") гитхабе
        p rtgo3b3ugfbfkuf2i3uv
        ul
            li Текст
            li Текст2
            li Скам
