nav {
    a {
        color: #fff;
        font-weight: 900;

        padding: .5rem 1rem;
        font-size: 1.25rem;

        margin-top: .3125rem;
        margin-bottom: .3125rem;

        padding-right: 0;
    }

    ul {
        display: inline-block;
        list-style: none;

        padding-left: 0;

        li {
            display: inline-block;

            a {
                padding: .5rem 1rem;
                padding-left: .5rem;
                padding-right: .5rem;

                font-size: 1rem;
                color: rgba(255, 255, 255, .5);
                font-weight: 500;

                &:hover, &.active {
                    color: rgba(255, 255, 255, .9);
                }
            }
        }
    }

    label {
        font-size: 150%;
        padding-left: 25px;
    }
    
    #menu, label {
        display: none;
    }

    #menu:checked {
        & ~ ul {
            display: inline-block !important;
            width: 100%;

            position: absolute;
            left: 0; top: 25px;

            padding: 25px 0;
            padding-bottom: 50%;
            background: rgba(28, 28, 28, .8);

            li, li a {
                display: block;
            }

            li {
                padding: 0;
                width: 100%;
            }

            li a {
                width: 70%;
                padding: 20px;

                border-radius: 10px;

                margin: 0 auto;
                background: #222222;

                margin-top: 5px;
            }

            li:first-child a {
                margin-top: 0;
            }
        }
    }
}


@media screen and (max-width: 720px) {
    nav {
        // width: 85%;
        width: 100%;
    }
    
    label {
        display: inline-block !important;
    }

    #menu ~ ul {
        display: none !important;
    }
}
