{% extends "base.html" %}
{% block title %}404{% endblock %}
{% block content %}    
    <h1>Not Found</h1>
    <p>Ребята, не стоит вскрывать эту тему. Вы молодые, шутливые, вам все легко. Это не то. Это не Чикатило и даже не архивы спецслужб. Сюда лучше не лезть. Серьезно, любой из вас будет жалеть. Лучше <a href="/">уйдите</a> и забудьте, что тут писалось. Я вполне понимаю, что данным сообщением вызову дополнительный интерес, но хочу сразу предостеречь пытливых - стоп. Остальные просто не найдут</p>
{% endblock %}
