<!DOCTYPE html>
<html lang="en" prefix="og://ogp.me/ns#">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96">

    <link rel="stylesheet" href="/css/test.css?v=3.0.8">
    <link rel="stylesheet" href="/css/pico.min.css">

    <meta property="og:site_name" content="jdan734.me">
    <meta property="og:title" content="Home"/>
    <meta property="og:image" content="/images/jdan_frog.jpg"/>
    <meta property="og:description" content="Kaiser's personal site, hosted in Linode." />

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <nav class="container-fluid" {% block nav %}{% endblock %}>
        <ul>
            <li>
            {% if status != "dev" and status != "alpha" %}
                <a href="/" class="logo">jdan734.me</a>
            {% endif %}

            {% if status == "dev" %}
                <a href="/" class="logo">jdan734.me<sup style="color: orange;">β</sup></a>
            {% endif %}

            {% if status == "alpha" %}
                <a href="/" class="logo">jdan734.me<sup style="color: #d50000;">α</sup></a>
            {% endif %}
            </li>
        </ul>
        <ul>
            <li><a class="home" href="/">Home</a></li>
            <li><a class="wiki" href="/wiki/wikipedia"><s>Wikipedia</s></a></li>
            <li><a class="memepedia" href="/memepedia">Memepedia</a></li>
        </ul>
    </nav>

    {% block body %}
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    {% endblock %}
</body>
</html>
