{% extends "base.html" %}
{% block title %}Files{% endblock %}
{% block menu_ftp %}active{% endblock %}
{% block content %}
    <h1> Index of {{ path }} </h1>
    <ul id="files">
        {% for files in walk %}
            {% if loop.index == 1 %}
                {% for file in files %}
                <li class="file folder"><a href="{{ path }}/{{ file }}">
                    <img src="/images/Generic Folder.png"
                         class="file_icon"></img>
                    <span class="file_name">{{ file }}</span>
                </a></li>
                {% endfor %}
            {% endif %}

            {% if loop.index == 2 %}
                {% for file in files %}
                <li class="file document"><a href="{{ path }}/{{ file }}">
                    <img src="/images/Generic Document.png"
                         class="file_icon"></img>
                    <span class="file_name">{{ file }}</span>
                </a></li>
                {% endfor %}
            {% endif %}

        {% endfor %}
    </ul>
{% endblock %}
