{% extends "base.html" %}
{% block head %}
    {{ super() }}

    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.0/styles/default.min.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <link rel="stylesheet" href="/css/atom-one-dark.css">
    <link rel="stylesheet" href="/css/style.css?v=3.0.5">

    <style>pre {padding: 0;} pre code {padding: 15px !important; border-radius: 10px;} pre * {font-weight: 500;}</style>
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block content %}    
    <h1>{{ title }}</h1>
    {{ content | safe }}
{% endblock %}
