<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96">
    <link rel="stylesheet" href="/css/style.css?v=3.0.5">
    <link rel="stylesheet" href="/css/card.css?v">

    <title>test</title>
</head>
<body>
    <div class="content">
        <div class="project-card">
            <div class="text">
                <h1>jdan734-bot</h1>
                <p>Multifunctional telegram bot for banning and stuff :)</p>
            </div>
            <table>
                <tr>
                    <td><h3>{{ users }}</h3> users</td>
                    <td><h3>1488</h3> bans</td>
                    <td><h3>777</h3> warns</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
