big, dl, p, pre, small, sup, table, body, code {
    // font-size: 14.04px;
    font-size: 14.742px;
}

h2, h3, h4, h5, h6 {
    padding-top: .5em;
}

h1 {
    // font-size: 33.8px;
    font-size: 35.49px;
}

#fullpage .content h1 {
    margin: 0;
}

h2 {
    // font-size: 23.4px;
    font-size: 24.57px;
}

img {
    max-width: 100%;
}

a {
    // font-size: 14.04px;
    font-size: 14.742px;
    text-decoration: none;

    color: #1270F3;
}

ul.unstyled {
    list-style: none;
    padding-left: 0;
}

dt {
    font-weight: 900;
}
