big, dl, p, pre, small, sup, table {
    font-size: 15.6px;
}

h1 {
    font-size: 33.8px;
}

h2 {
    font-size: 26px;
}

a {
    font-size: 15.6px;
    text-decoration: none;

    color: #157EFB;
}
