big, dl, p, pre, small, sup, table, body {
    font-size: 14.04px;
}

h2, h3, h4, h5, h6 {
    padding-top: .5em;
}

h1 {
    font-size: 33.8px;
}

h2 {
    font-size: 23.4px;
}

img {
    max-width: 100%;
}

a {
    font-size: 14.04px;
    text-decoration: none;

    color: #1270F3;
}
