.project {
    padding: 2px 12.5%;
    border-bottom: 1px solid rgba(0, 0, 0, .5);

    h2 {
        margin: 0;
        padding: 0;
    }

    p {
        margin: 0;
        margin-bottom: 13px;
        font-weight: 400;        
    }

    &__table {
        width: 100%;
    }

    &__button {
        cursor: pointer;
        display: inline-block;
        margin-bottom: 11px;
        padding: 5px 20px 5px 20px;
        font-size: 15px;
        font-weight: 500;
        border-radius: 3px;
        outline: none;

        border: 1px solid rgba(33, 43, 52, .4);
        background: transparent;
        color: #fff;

        transition: background .1s;

        &:active {
            background: rgba(50, 50, 50, .4);
            transition: background .1s;   
        }

        &[href^="https://github.com"]:active {
            background: rgba(22, 27, 34, .4);
            border-color: rgba(22, 27, 34, .4);
        }

        &[href^="https://pypi.org"]:active {
            background: rgba(0, 109, 173, .4);
            border-color: rgba(0, 109, 173, .4);
        }

        &[href^="https://t.me"]:active {
            background: rgba(36, 162, 223, .4);
            border-color: rgba(36, 162, 223, .4);
        }
    }

    .right {
        float: right;
        border-radius: 4px;
    }

    &.without_image, &.without_image table {
        height: 1px;
        min-height: 310px;
    }

    &__image {
        float: right;
        /*padding: 0 !important;*/
        padding: 40px 0 40px 0 !important;

        img {
            border-radius: 13px;
            box-shadow: 0 5px 20px #222;
        } 
    }
}
